body {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(17, 109, 45), rgb(87, 218, 75));
}

.register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.register h1 {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 5rem;
}

.register .input-wrapper {
    width: 60vw;
}

.register .input-field {
    margin-bottom: 3rem;
    width: 100%;
}

.register .input-field input {
    border: 0;
    border-radius: 4px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1rem;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

.register .input-field input:focus {
    filter: brightness(0.925);
}

.register .link-wrapper{
    margin-bottom: 3rem;
    text-align: center;
}

.register .link {
    text-decoration: none;
    color: #fff;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
}

.register .link:hover{
    text-decoration: underline;
}

.register button {
    width: 100%;
    padding: 1rem 0;
    font-size: clamp(1.2rem, 2.5vw, 1.6rem);
    cursor: pointer;
    border: 0;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: .2s ease;
}

.register button:hover {
    filter: brightness(.85);
}